/*--------------fonts----------------------*/
@font-face {
    font-family: 'corinthiaregular';
    src: url('fonts/corinthia-webfont/corinthia-webfont.eot');
    src: url('fonts/corinthia-webfont/corinthia-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/corinthia-webfont/corinthia-webfont.woff') format('woff'),
    url('fonts/corinthia-webfont/corinthia-webfont.ttf') format('truetype'),
    url('fonts/corinthia-webfont/corinthia-webfont.svg#corinthiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--------------end fonts----------------------*/

/*--------------common-styles----------------------*/
html, body{
    padding: 0;
    margin: 0;
}
html{
    background: url("../images/bg.jpg") left top repeat transparent;
}
body{
    background: url("../images/bg-bottom.png") left bottom repeat-x transparent;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
a{
    color: #b25492;
}
a:hover{
    text-decoration: none;
}
img{
    border: none;
}
.shadow-wrapper{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNzklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iOTElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.29) 9%, rgba(0,0,0,0) 21%, rgba(0,0,0,0) 79%, rgba(0,0,0,0.29) 91%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(9%,rgba(0,0,0,0.29)), color-stop(21%,rgba(0,0,0,0)), color-stop(79%,rgba(0,0,0,0)), color-stop(91%,rgba(0,0,0,0.29)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.29) 9%,rgba(0,0,0,0) 21%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.29) 91%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.29) 9%,rgba(0,0,0,0) 21%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.29) 91%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.29) 9%,rgba(0,0,0,0) 21%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.29) 91%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.29) 9%,rgba(0,0,0,0) 21%,rgba(0,0,0,0) 79%,rgba(0,0,0,0.29) 91%,rgba(0,0,0,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-8 */
}
#page{
    width: 950px;
    margin: 0 auto;
}
.wrapper{
    clear: both;
}

.block{
    margin-bottom: 30px;
}
.clearfix{
    clear: both;
}
/*--------------end common-styles----------------------*/

/*-----------------zone styles-----------------------*/
.common-wrapper{
    background: url("../images/bg-top.png") left top repeat-x transparent;
}
/*-----------------end zone styles-----------------------*/

/*-----------------regions styles-----------------------*/
.region-header-first{
    padding: 35px 0 25px;
}
.region-header-second{
    box-shadow: 0 0 35px 10px #290d1d;
    border-radius: 3px 3px 6px 6px;
}
.region-content-first{
    width: 360px;
    display: inline-block;
    vertical-align: top;
}
.region-content-second{
    width: 555px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
}
.region-footer-first{
    padding-top: 35px;
    border-top: 2px dotted #330F27;
}
.region-footer-second{
    padding: 20px 0 35px;
}
/*-----------------end regions styles-----------------------*/

/*-----------------site-logo-----------------------*/
.site-logo{
    display: inline-block;
}
/*-----------------end site-logo-----------------------*/

/*-----------------site-title-----------------------*/
.site-title{
    display: inline-block;
    font-family: corinthiaregular, Arial, sans-serif;
    vertical-align: top;
    margin: 15px 0 0 80px;
}
.site-title a{
    text-decoration: none;
    color: #ffffff;
    font-size: 33px;
}
/*-----------------end site-title-----------------------*/

/*-----------------site-search-----------------------*/
.site-search{
    display: inline-block;
    float: right;
    padding: 25px 0 0 0;
}
.site-search input{
    width: 140px;
    height: 25px;
    background: url("../images/sprite.png") -4px 0px no-repeat #7a5b6e;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0px 0px 4px #743e5f;
    padding-left: 25px;
    color: #ffffff;
    font-style: italic;
}
/*-----------------end site-search-----------------------*/

/*-----------------main navigation-----------------------*/
.main-nav-wrapper{
    display: table;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}
.main-nav{

    height: 47px;
    display: table-row;
    border-radius: 3px;
    overflow: hidden;
}
.main-nav li{
    list-style: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #370322;
    border-left: 1px solid #67073f;
    background: url("../images/bg-nav.png") left center repeat-x transparent;
}
.main-nav li.first-item{
     border-left: none;
}
.main-nav li.last-item{
    border-right: none;
}
.main-nav a{
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: #ffffff;
}
/*-----------------main navigation-----------------------*/

/*----------carusel-------------*/
.list_carousel {
    width: 100%;
    position: relative;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 40px;
    color: #999;
    text-align: center;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
    height: 130px;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}
.clearfix {
    float: none;
    clear: both;
}
.list_carousel .prev {
    left: 0;
    margin-left: 10px;
    background: url("../images/sprite.png") -7px -40px no-repeat transparent;

}
.list_carousel .next {
    right: 0;
    margin-right: 10px;
    background: url("../images/sprite.png") -61px -40px no-repeat transparent;
}
.list_carousel .next,
.list_carousel .prev{
    width: 35px !important;
    height: 35px !important;
    position: absolute;
    bottom: 50px;
    text-decoration: none;
}
.caroufredsel_wrapper{
    margin: 0 auto !important;
}
/*------------------end carusel--------------*/

/*-----------slider------------------*/
.bx-wrapper{
    max-width: 100%;
}
.bx-wrapper .bx-viewport{
    border: none !important;
}
.bx-viewport{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 322px;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    left: inherit !important;
}
.bx-viewport img{
    border-radius: 0 0 6px 6px;
}
.bxslider{
    position: relative;
    transition-duration: 0s;
    transform: translate3d(-1460px, 0px, 0px);
    margin: 0;
}
.bxslider li{
    float: left;
    list-style: none outside none;
    position: relative;
}
.bxslider li .slider-text{
    position: absolute;
}
.bx-wrapper{
    margin: 0;
}
.bx-wrapper .bx-prev{
    background: url("../images/sprite.png") -7px -40px no-repeat transparent;
    width: 35px !important;
    height: 35px !important;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next{
    background: url("../images/sprite.png") -61px -40px no-repeat transparent;
    width: 35px !important;
    height: 35px !important;
}
.slider-text{
    padding: 50px 0 0 50px;
}
.slider-text h5{
    margin: 0;
    font-size: 32px;
    font-weight: normal;
}
.slider-text span{
    font-size: 26px;
}
/*-----------------end slider-----------------------*/

/*-----------------block-calendar-----------------------*/
.block-calendar{
    background: url("../images/bg-block.png") left top repeat transparent;
    box-shadow: 0 0 2px 0px #000000;
}
.block-calendar .block-title{
    font-size: 21px;
    font-weight: normal;
    margin: 0;
    height: 24px;
    background: url("../images/bg-calendar-title.png") left center repeat-x transparent;
    border:1px solid #000000;
    padding: 12px;
}
.ui-datepicker-prev,
.ui-datepicker-next{
    width: 12px;
    height: 16px;
    display: inline-block;
    overflow: hidden;
    text-indent: 32px;
    padding: 15px;
}
.ui-datepicker-prev{
    background: url("../images/sprite.png") -1px -80px no-repeat transparent;
    float: left;
}
.ui-datepicker-next{
    background: url("../images/sprite.png") -30px -80px no-repeat transparent;
    float: right;
}
.ui-datepicker-title{
    text-align: center;
    font-size: 18px;
    padding-top: 13px;
}
.ui-datepicker-calendar{
    clear: both;
    margin: 0 15px;
}
.ui-datepicker-calendar thead{
    display: none;
}
.ui-datepicker-calendar td{

}
.ui-datepicker-calendar a{
    color: #c15893;
    font-size: 21px;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
}
.ui-datepicker-unselectable{

}
.ui-datepicker-unselectable span{
    font-size: 21px;
    display: block;
    padding: 10px 10px;
    background: url("../images/sprite.png") -58px -124px no-repeat transparent;
}
.ui-datepicker-unselectable span:hover{
    background: url("../images/sprite.png") -4px -124px no-repeat transparent;
}
.ui-widget.ui-tooltip{
    position: absolute;
    background-color:#f5f5f5;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f5f5f5, endColorstr=#c3c3c3);
    background-image:-moz-linear-gradient(top, #f5f5f5 0%, #c3c3c3 50%,#f5f5f5 100%);
    background-image:linear-gradient(top, #f5f5f5 0%, #c3c3c3 50%,#f5f5f5 100%);
    background-image:-webkit-linear-gradient(top, #f5f5f5 0%, #c3c3c3 50%,#f5f5f5 100%);
    background-image:-o-linear-gradient(top, #f5f5f5 0%, #c3c3c3 50%,#f5f5f5 100%);
    background-image:-ms-linear-gradient(top, #f5f5f5 0%, #c3c3c3 50%,#f5f5f5 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#f5f5f5), color-stop(50%,#c3c3c3),color-stop(100%,#f5f5f5));
    color: #44042a;
    font-size: 12px;
    display: inline-block;
    padding: 5px 10px;
    border-top: 1px solid #735f6b;
}
.ui-widget.ui-tooltip .arrow{
   height: 6px;
    width: 10px;
    position: absolute;
    top: -5px;
    left: 45%;
    background: url("../images/arrow-tooltip.png")center top no-repeat transparent;
}
/*-----------------end block-calendar-----------------------*/

/*-----------------block-annonce-----------------------*/
.block-annonce{
    background: url("../images/bg-block.png") left top repeat transparent;
    padding: 30px;
    box-shadow: 0 0 2px 0px #000000;
}
.block-annonce .block-title{
    margin: 0;
    font-size: 21px;
}
.block-annonce p{
    font-size: 16px;
}
/*-----------------end block-annonce-----------------------*/

/*-----------------block-news-----------------------*/
.block-news{
    border-top:2px dotted #330f27;
    border-bottom:2px dotted #330f27;
    padding: 15px 0 5px;
}
.block-news p{
    margin: 0;
}
.block-news .date{
     font-size: 12px;
    text-align: center;
    display: inline-block;
    padding: 0 6px;
}
.block-news .date p{
    font-size: 32px;
}
.news-item > p{
    display: inline-block;
    width: 80%;
}
.more-link a,
.news-item > p a{
    font-size: 13px;
}
.block-news a:hover{
    text-decoration: none;
}
.more-link{
    text-align: center;
}
.more-link a{
    background: #0A0708;
    position: relative;
    top: 14px;
    padding: 0 30px;
}
.news-item{
    display: inline-block;
    width: 49%;
}
/*-----------------end block-newe-----------------------*/

/*-----------------block-banners-----------------------*/
.block-banners a{
    display: inline-block;
    margin: 0 22px;
}
.block-banners a.first-item{
    margin: 0;
}
.block-banners a.last-item{
    margin: 0;
}
.block-banners img{
    border-radius: 4px;
}
/*-----------------end block-banners-----------------------*/

/*-----------------end copy-r------------------------------*/
.copy-r{
    display: inline-block;
    font-size: 15px;
    color: #633854;
}
/*-----------------end copy-r------------------------------*/

/*-----------------footer-nav------------------------------*/
.footer-nav{
    display: inline-block;
    float: right;
}
.footer-nav ul{
    margin: 0;
    padding: 0;
}
.footer-nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.footer-nav ul li a{
    font-size: 14px;
}
/*-----------------end footer-nav------------------------------*/

/*-----------------footer site-logo------------------------------*/
.region-footer-second .site-logo{
    display: inline-block;
    margin-right: 115px;
}
.region-footer-second .site-logo img{
    width: 142px;
}
/*----------------- end footer site-logo------------------------------*/

/*-----------------footer block-contacts------------------------------*/
.block-contacts{
    display: inline-block;
    margin: 0px;
    vertical-align: top;
    padding-left: 45px;
}
.block-contacts h6{
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}
.block-contacts p{
    margin: 0;
    font-size: 16px;
}
.block-contacts.last-item{
    float: right;
}
.block-contacts.last-item p{
    color: #633854;
    font-size: 12px;
    padding-top: 8px;
}
/*----------------- end footer block-contacts------------------------------*/